<!DOCTYPE html>
<html lang="{{ craft.app.language }}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ siteName }}</title>
  </head>
  <body>
    <div>asdasd</div>
    <div id="app"></div>
    {{ craft.vite.script("src/main.ts") }}
  </body>
</html>
